<ul>
  <li>
    <a class="navbar-brand" routerLink="/">home</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/github/list">GitHub</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="admin">Admin</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/routing">Routing</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/http">Http</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/passing-data">Passing Data</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/forms">Forms</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/component">Component</a>
  </li>
</ul>
